.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
data/
build/
.gradle/
bin/
obj/
experiment/
.classpath
.project
.settings
node_modules/
.DS_Store
.idea/
gradle/
gradlew*
package-lock.json
offset_*
